
<div id="left_container_home">
	<div id="left_box_home">
		<h1 class="left_container_text_home">ON</h1>
			</br>
		<h1 class="left_container_text_home">DEMAND</h1>
			</br>
		<h1 class="left_container_text_home">WEB</h1>	
			</br>
		<h1 class="left_container_text_home">DEVELOP-</h1>
			</br>
		<h1 class="left_container_text_home">MENT</h1>
	</div>
</div>

<div id="right_container_home">
	<div id="top_right_box_home">
		<div class="banner">
			<ul>
				<li><%= image_tag "rubyonrails_image.png" %></li>
				<li><%= image_tag "html5_image.png" %></li>
				<li><%= image_tag "css3_image.png" %></li>
				<li><%= image_tag "jquery_image.png" %></li>
			</ul>
		</div>
	</div>

	<div id="middle_right_divider_home">
	</div>

	<div id="bottom_right_box_home">
		<div class="banner">
		<ul>
			<li>
				<div id="slide1_box1">
					<%= link_to image_tag("babsonmexico_image.png"), "http://www.babsonmexico.com" %>
				</div>
				<div id="slide1_box2">
					<%= link_to image_tag("globalcatalysts_image.png"), "http://www.globalcatalysts.com.mx" %>
				</div>
			</li>
			<li>
				<div id="slide2_box1">
					<%= link_to image_tag("milestone_image.png"), "http://boiling-sea-6044.herokuapp.com" %>
				</div>
				<div id="slide2_box2">
					<%= link_to image_tag("rvn_image.png"), "http://www.rvnnyc.com" %>
				</div>
			</li>
		</ul>
	</div>
	</div>
</div>
